@model OnlineBanking.Models.Cheque

@{
    ViewData["Title"] = "Details";
    string status = "", statusclass = "";
    if (!Model.ProccessingStatus)
    {
        status = "Pending";
        statusclass = "color-blue";
    }
    else
    {
        status = "Complete";
        statusclass = "color-green";
    }
}

<main class="page-content page-content--order-header">
    <div class="container">
        <div class="page-header">
            @*<h3 class="page-header__subtitle d-lg-none">Cheque </h3>*@
            <h1 class="page-header__title">Cheques Details <span class="text-grey"> #@Model.Id</span></h1>
        </div>
        <div class="page-tools">
            <div class="page-tools__breadcrumbs">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__container">
                        <ol class="breadcrumbs__list">
                            <li class="breadcrumbs__item">
                                <a class="breadcrumbs__link" asp-controller="Home" asp-action="Index">
                                    <svg class="icon-icon-home breadcrumbs__icon">
                                        <use xlink:href="#icon-home"></use>
                                    </svg>
                                    <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                                        <use xlink:href="#icon-keyboard-right"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="breadcrumbs__item disabled">
                                <a class="breadcrumbs__link" href="#">
                                    <span>Manage</span>
                                    <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                                        <use xlink:href="#icon-keyboard-right"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="breadcrumbs__item disabled">
                                <a class="breadcrumbs__link">
                                    <span>Cheques</span>
                                    <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                                        <use xlink:href="#icon-keyboard-right"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="breadcrumbs__item active">
                                <span class="breadcrumbs__link">Detail</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="card card-order order-status">
            <div class="card__wrapper">
                <div class="card-order__product scrollbar-thin scrollbar-visible" data-simplebar>
                    <table class="table table--lines table--groups table--striped">
                        <colgroup>
                            <col width="33%">
                            <col width="33%">
                            <col width="33%">
                        </colgroup>
                        <thead class="table__header">
                            <tr>
                                <th class="text-center">
                                    <span>Date Added</span>
                                </th>
                                <th class="text-center">
                                    <span>Status</span>
                                </th>
                                <th class="text-center">
                                    <span>Amount</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table__row">
                                <td class="table__td text-center">@Model.DateCreate.ToShortDateString() @Model.DateCreate.ToString("hh:mm tt")</td>
                                <td class="table__td text-center">
                                    <div class="d-inline-block text-nowrap">
                                        <span class="marker-item @statusclass"></span><span>@status</span>
                                    </div>
                                </td>
                                <td class="table__td text-center">$@Model.Amount</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form class="order-status__form" asp-controller="Cheques" asp-action="ChequeStatus" method="post">
                    <div class="card__container">
                        <div class="row gutter-bottom-xl">
                            <div class="col-12">
                                <div class="order-status__form-group form-group form-group--inline">
                                    <label class="form-label">Cheque Status:</label>
                                    @{
                                        if (!Model.ProccessingStatus)
                                        {
                                            <div class="input-group input-group--append">
                                                <select name="status" class="input js-input-select input--fluid" data-placeholder="">
                                                    @{ if (!Model.ProccessingStatus)
                                                        {
                                                            <option value="false" selected="selected">
                                                                Pending
                                                            </option>
                                                            <option value="true">
                                                                Complete
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="false">
                                                                Pending
                                                            </option>
                                                            <option value="true" selected="selected">
                                                                Complete
                                                            </option>
                                                        }
                                                    }

                                                </select><span class="input-group__arrow">
                                                    <svg class="icon-icon-keyboard-down">
                                                        <use xlink:href="#icon-keyboard-down"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                                        }
                                                        else
                                                        {
                                <div class="d-inline-block text-nowrap">
                                    <span class="marker-item @statusclass"></span><span>@status</span>
                                </div>
                                                            }
                                                        }


                                </div>
                            </div>
                            <input type="hidden" name="chequeid" value="@Model.Id" />
                            @*<div class="col-12">
                                <div class="order-status__checkboxes row gutter-bottom-xl no-gutters">
                                    <div class="order-status__checkbox-column col-12 col-sm-auto">
                                        <div class="form-group form-group--inline">
                                            <label class="form-label">Cheque Status:</label>
                                            <div class="input-group">
                                                <label class="checkbox-toggle is-active">
                                                    <input id="statusCheckBox" type="checkbox" checked onclick="statusToggle()"><span class="checkbox-toggle__range"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-status__checkbox-column col-12 col-sm-auto">
                                        <div class="form-group form-group--inline">
                                            <div class="d-inline-block text-nowrap">
                                                <span id="status_Icon_Class" class="marker-item color-blue"></span><span id="status_Text">Pending</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                        <div class="order-status__submit">
                            <div class="row row--md justify-content-center">
                                @{
                                    if (!Model.ProccessingStatus)
                                    {
                                        <div class="col-auto">
                                            <button class="button button--primary" type="submit">
                                                <span class="button__text">Confirm</span>
                                            </button>
                                        </div>
                                    }
                                }

                                <div class="col-auto">
                                    <a class="button button--secondary" asp-controller="Cheques" asp-action="Index"><span class="button__text">Back</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    function statusToggle() {
        if (document.getElementById("statusCheckBox").checked) {
            document.getElementById("status_Icon_Class").className = "marker-item color-green";
            document.getElementById("status_Text").innerHTML = "Complete";
        } else {
            document.getElementById("status_Icon_Class").className = "marker-item color-blue";
            document.getElementById("status_Text").innerHTML = "Pending";
        }

    }
</script>