@model OnlineBanking.Models.Account
@*@model IEnumerable<OnlineBanking.Models.Account>*@

@{
    ViewData["Title"] = "Index";
}

<!-- Secondary menu
  ============================================= -->
<div class="bg-primary">
    <div class="container d-flex justify-content-center">
        <ul class="nav secondary-nav">
            <li class="nav-item"> <a class="nav-link" asp-area="UserSection" asp-controller="Users" asp-action="Index">Info</a></li>
            <li class="nav-item"> <a class="nav-link active" asp-area="UserSection" asp-controller="Accounts" asp-action="Index">Cards & Bank Accounts</a></li>
            <li class="nav-item"> <a class="nav-link"asp-area="UserSection" asp-controller="Notifications" asp-action="Index">Notifications</a></li>
        </ul>
    </div>
</div>
<!-- Secondary menu end -->
<!-- Content
============================================= -->
<div id="content" class="py-4">
    <div class="container">
        <div class="row">
            <!-- Left Panel
            ============================================= -->
            <aside class="col-lg-3">

                <!-- Profile Details
                =============================== -->
                <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                    <div class="profile-thumb mt-3 mb-4">
                        <img class="rounded-circle" src="@Url.Content("~/images/profile-thumb.jpg")" alt="">
                        <div class="profile-thumb-edit custom-file bg-primary text-white" data-toggle="tooltip" title="Change Profile Picture">
                            <i class="fas fa-camera position-absolute"></i>
                            <input type="file" class="custom-file-input" id="customFile">
                        </div>
                    </div>
                    <p class="text-3 font-weight-500 mb-2">Hello, Smith Rhodes</p>
                    <p class="mb-2"><a href="profile.html" class="text-5 text-light" data-toggle="tooltip" title="Edit Profile"><i class="fas fa-edit"></i></a></p>
                </div>
                <!-- Profile Details End -->
                <!-- Available Balance
                =============================== -->
                <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                    <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                    <h3 class="text-9 font-weight-400">$2956.00</h3>
                    <p class="mb-2 text-muted opacity-8">Available Balance</p>
                    <hr class="mx-n3">
                    <div class="d-flex"><a href="withdraw-money.html" class="btn-link mr-auto">Withdraw</a> <a href="deposit-money.html" class="btn-link ml-auto">Deposit</a></div>
                </div>
                <!-- Available Balance End -->
                <!-- Need Help?
                =============================== -->
                <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                    <div class="text-17 text-light my-3"><i class="fas fa-comments"></i></div>
                    <h3 class="text-3 font-weight-400 my-4">Need Help?</h3>
                    <p class="text-muted opacity-8 mb-4">
                        Have questions or concerns regrading your account?<br>
                        Our experts are here to help!.
                    </p>
                    <a href="#" class="btn btn-primary btn-block">Chate with Us</a>
                </div>
                <!-- Need Help? End -->

            </aside>
            <!-- Left Panel End -->
            <!-- Middle Panel
            ============================================= -->
            <div class="col-lg-9">

                <!-- Bank Accounts
                ============================================= -->
                <div class="bg-light shadow-sm rounded p-4 mb-4">
                    <h3 class="text-5 font-weight-400 mb-4">Bank Accounts <span class="text-muted text-4">(for withdrawal)</span></h3>
                    <div class="row">
                        @{
                            string divclass = "", status = "", iconclass="", cardnumber="";

                            foreach (var item in ViewBag.AccountList)
                            {
                                if (item.Status)
                                {
                                    divclass = "account-card-primary";
                                    status = "Approved";
                                    iconclass = "fa-check-circle";
                                }
                                else {
                                    divclass = "account-card-expire";
                                    status = "Declined";
                                    iconclass = "fa-circle";
                                }
                                cardnumber = item.Number;
                                <div class="col-12 col-sm-6">
                                    <div class="account-card @divclass text-white rounded mb-4 mb-lg-0">
                                        <div class="row no-gutters">
                                            <div class="col-3 d-flex justify-content-center p-3">
                                                <div class="my-auto text-center text-13">
                                                    <i class="fas fa-university"></i>
                                                    <p class="bg-light text-0 text-body font-weight-500 rounded-pill d-inline-block px-2 line-height-4 opacity-8 mb-0">Primary</p>
                                                </div>
                                            </div>
                                            <div class="col-9 border-left">
                                                <div class="py-4 my-2 pl-4">
                                                    <p class="text-4 font-weight-500 mb-1">Payyed Bank</p>
                                                    <p class="text-4 opacity-9 mb-1">XXXX-XXXX-XXXX-@cardnumber.Substring(cardnumber.Length - 4)</p>
                                                     <p class="m-0">@status <span class="text-3"><i class="fas @iconclass"></i></span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="account-card-overlay rounded"> <a href="#" data-target="#modal-@item.Id" data-toggle="modal" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-share"></i></span>More Details</a> <a href="#" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete</a> </div>
                                    </div>
                                </div>
                                <!-- Edit Bank Account Details Modal
            ======================================== -->
                                <div id="modal-@item.Id" class="modal fade" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered transaction-details" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="row no-gutters">
                                                    <div class="col-sm-5 d-flex justify-content-center bg-primary rounded-left py-4">
                                                        <div class="my-auto text-center">
                                                            <div class="text-17 text-white mb-3"><i class="fas fa-university"></i></div>
                                                            <h3 class="text-6 text-white my-3">Payyed Bank</h3>
                                                            <div class="text-4 text-white my-4">XXXX-@cardnumber.Substring(cardnumber.Length - 4)</div>
                                                            <p class="bg-light text-0 text-body font-weight-500 rounded-pill d-inline-block px-2 line-height-4 mb-0">Primary</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <h5 class="text-5 font-weight-400 m-3">
                                                            Bank Account Details
                                                            <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                                        </h5>
                                                        <hr>
                                                        <div class="px-3">
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Account Type:</li>
                                                                <li class="text-muted">@item.AccountType.Name</li>
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Account Name:</li>
                                                                <li class="text-muted">@item.User.FullName</li>
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Account Number:</li>
                                                                <li class="text-muted">@item.Number</li>
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Status:</li>
                                                                <li class="text-muted">@status <span class="text-success text-3"><i class="fas @iconclass"></i></span></li>
                                                            </ul>
                                                            <p><a href="#" class="btn btn-sm btn-outline-danger btn-block shadow-none"><span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete Account</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            }


                        <div class="col-12 col-sm-6">
                            <a href="" data-target="#add-new-bank-account" data-toggle="modal" class="account-card-new d-flex align-items-center rounded h-100 p-3 mb-4 mb-lg-0">
                                <p class="w-100 text-center line-height-4 m-0"> <span class="text-3"><i class="fas fa-plus-circle"></i></span> <span class="d-block text-body text-3">Add New Bank Account</span> </p>
                            </a>
                        </div>
                    </div>
                </div>
                

                <!-- Add New Bank Account Details Modal
                ======================================== -->
                <div id="add-new-bank-account" class="modal fade" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-400">Add bank account</h5>
                                <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                            </div>
                            <div class="modal-body p-4">
                                <form id="addbankaccount" method="post">
                                    <div class="form-group">
                                        <label for="bankName">Account Type</label>
                                        <select asp-for="AccountTypeId" asp-items="ViewBag.AccountTypeId" class="custom-select">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="accountName">Account Name</label>
                                        <input type="text" class="form-control" data-bv-field="accountName" id="accountName" required value="" placeholder="e.g. Smith Rhodes">
                                    </div>
                                    <div class="form-group">
                                        <label for="accountNumber">Account Number</label>
                                        <input asp-for="Number" class="form-control" data-bv-field="accountNumber" id="accountNumber" required value="" placeholder="e.g. 12346678900001">
                                    </div>
                                    <div class="form-check custom-control custom-checkbox mb-3">
                                        <input id="remember-me" name="remember" class="custom-control-input" type="checkbox">
                                        <label class="custom-control-label" for="remember-me">I confirm the bank account details above</label>
                                    </div>
                                    <button class="btn btn-primary btn-block" type="submit">Add Bank Account</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bank Accounts End -->

            </div>
            <!-- Middle Panel End -->
        </div>
    </div>
</div>
<!-- Content end -->
