<!-- Header
        ============================================= -->
@{ 
    //Lấy _context để access vào DB
    var _context = ViewBag.Context as OnlineBankingContext;
}



<header id="header">
    <div class="container">
        <div class="header-row">
            <div class="header-column justify-content-start">
                <!-- Logo
        ============================= -->
                <div class="logo"> <a class="d-flex" asp-area="" asp-controller="Home" asp-action="Index" title="Payyed - HTML Template"><img src="@Url.Content("~/images/logo.png")" alt="Payyed" /></a> </div>
                <!-- Logo end -->
                <!-- Collapse Button
        ============================== -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
                <!-- Collapse Button end -->
                <!-- Primary Navigation
        ============================== -->
                <nav class="primary-menu navbar navbar-expand-lg">
                    <div id="header-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="@(ViewBag.Title == "Dashboard" ? "active" : "")"><a asp-area="UserSection" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                            <li class="@(ViewBag.Title == "Transaction" ? "active" : "")"><a asp-area="UserSection" asp-controller="Transactions" asp-action="Index">Transactions</a></li>
                            <li class="@(ViewBag.Title == "Send/Request" ? "active" : "")"><a asp-area="UserSection" asp-controller="Send" asp-action="Index">Send/Request</a></li>
                            <li class="@(ViewBag.Title == "Help" ? "active" : "")"><a asp-area="UserSection" asp-controller="Home" asp-action="Index">Help</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- Primary Navigation end -->
            </div>
            <div class="header-column justify-content-end">
                <!-- Login & Signup Link
        ============================== -->
                <nav class="login-signup navbar navbar-expand">
                    <ul class="navbar-nav">


                        <!--Cái chuông noti ở đây-->
                        <li class="nav-item dropdown ">
                            <a href="#" onclick="return false;" role="button" data-toggle="dropdown" id="dropdownMenu1" data-target="#" style="float: left" aria-expanded="true">
                                <i class="fa fa-bell" style="font-size: 25px; float: left; color: black">
                                </i>
                            </a>
                            <span class="badge badge-danger">6</span>
                            <ul class="dropdown-menu dropdown-menu-left pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <a href="#" class="dropdown-menu-header">Notifications</a>
                                </li>
                                <ul class="timeline timeline-icons timeline-sm" style="margin:10px;width:210px">


                                    <!--Foreach ở đây-->
                                    <li>
                                        <p>
                                            Your “Volume Trendline” PDF is ready <a href="">here</a>
                                            <span class="timeline-icon"><i class="fa fa-file-pdf-o" style="color:red"></i></span>
                                            <span class="timeline-date">Dec 10, 22:00</span>
                                        </p>
                                    </li>


                                </ul>
                                <li role="presentation">
                                    <a href="#" class="dropdown-menu-header"></a>
                                </li>
                            </ul>
                        </li>
                        <!--Kêt thúc chuông-->

                        <li><a asp-area="UserSection" asp-controller="Users" asp-action="Index">Settings</a> </li>
                        <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-outline-primary shadow-none d-none d-sm-block" href="">Sign out</a></li>
                    </ul>
                </nav>
                <!-- Login & Signup Link end -->
            </div>
        </div>
    </div>
</header>
<!-- Header End -->