<!-- Header
        ============================================= -->
@{
    //Lấy _context để access vào DB
    var _context = ViewBag.Context as OnlineBankingContext;
}

@{
    //Lấy ra tất cả thông báo
    List<Notification> allNoti = _context.Notifications.Include(noti => noti.User).Include(noti => noti.Transaction).Include(noti => noti.Transaction.ToAccount).Include(noti =>noti.Transaction.FromAccount).Include(noti => noti.Transaction.FromAccount.User).Include(noti => noti.Transaction.ToAccount.User).Include(noti => noti.Transaction.Currency).Where(noti => noti.UserId == Context.Session.GetInt32("IdCurrentUser")).OrderByDescending(noti => noti.CreateDate).Take(5).ToList();
}






<header id="header">
    <div class="container">
        <div class="header-row">
            <div class="header-column justify-content-start">
                <!-- Logo
                ============================= -->
                <div class="logo"> <a class="d-flex" asp-area="" asp-controller="Home" asp-action="Index" title="Payyed - HTML Template"><img src="@Url.Content("~/images/logo.png")" alt="Payyed" /></a> </div>
                <!-- Logo end -->
                <!-- Collapse Button
                ============================== -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
                <!-- Collapse Button end -->
                <!-- Primary Navigation
                ============================== -->
                <nav class="primary-menu navbar navbar-expand-lg">
                    <div id="header-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="@(ViewBag.Title == "Account" ? "active" : "")"><a asp-area="UserSection" asp-controller="Accounts" asp-action="Index">Accounts</a></li>
                            <li class="@(ViewBag.Title == "Transaction" ? "active" : "")"><a asp-area="UserSection" asp-controller="Transactions" asp-action="Index">Transactions</a></li>
                            <li class="@(ViewBag.Title == "Cheque" ? "active" : "")"><a asp-area="UserSection" asp-controller="Cheques" asp-action="Index">Cheques</a></li>
                            <li class="@(ViewBag.Title == "Send/Request" ? "active" : "")"><a asp-area="UserSection" asp-controller="Send" asp-action="Index">Send/Request</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- Primary Navigation end -->
            </div>
            <div class="header-column justify-content-end">
                <!-- Login & Signup Link
                ============================== -->
                <nav class="login-signup navbar navbar-expand">
                    <ul class="navbar-nav">
                        <!--Cái chuông noti ở đây-->
                        <li>
                            <div class="dropdown" style="float: right; padding: 20px">
                                <a href="#" onclick="return setAllNotiBeHaveRead()" role="button" data-toggle="dropdown" id="dropdownMenu1" data-target="#" style="float: left" aria-expanded="true">
                                    <i class="fa fa-bell" style="font-size: 25px; float: left; color: black">
                                    </i>
                                </a>
                                @if (_context.Notifications.Where(noti => !noti.HaveRead && noti.UserId == Context.Session.GetInt32("IdCurrentUser")).Count() != 0)
                                {
                                    <span class="badge badge-danger" id="CountNotification">@_context.Notifications.Where(noti => !noti.HaveRead && noti.UserId == Context.Session.GetInt32("IdCurrentUser")).Count()</span>
                                }
                                <ul class="dropdown-menu dropdown-menu-left pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a href="#" class="dropdown-menu-header">Notifications</a>
                                    </li>
                                    @if (allNoti.Count() > 0)
                                    {
                                        <ul class="timeline timeline-icons timeline-sm" style="margin:10px;width:210px">
                                            @foreach (Notification noti in allNoti)
                                            {
                                                if (noti.Message == "Send")
                                                {
                                                    <li>
                                                        <p>
                                                            You have Sent To @noti.Transaction.ToAccount.User.FullName With Amount @noti.Transaction.Amount @noti.Transaction.Currency.Name<br /><br />
                                                            Your Current Balance Is @noti.Transaction.NewBalanceSender USD
                                                            <span class="timeline-date">Date: @noti.Transaction.IssuedDate</span>
                                                        </p>
                                                    </li>
                                                }
                                                else if (noti.Message == "Get")
                                                {
                                                    <li>
                                                        <p>
                                                            You Have Received @noti.Transaction.Amount @noti.Transaction.Currency.Name From @noti.Transaction.FromAccount.Number - @noti.Transaction.FromAccount.User.FullName<br /><br />
                                                            Your Current Balance Is: @noti.Transaction.NewBalanceRecipient USD
                                                            <span class="timeline-date">Date: @noti.Transaction.IssuedDate</span>
                                                        </p>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    }
                                    <li role="presentation">
                                        <a href="#" class="dropdown-menu-header"></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!--Kêt thúc chuông-->

                        @*<li><a asp-area="UserSection" asp-controller="Users" asp-action="Index">Settings</a> </li>*@
                        <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-outline-primary shadow-none d-none d-sm-block" asp-area="" asp-controller="Users" asp-action="SignOut">Sign out</a></li>
                    </ul>
                </nav>
                <!-- Login & Signup Link end -->
            </div>
        </div>
    </div>
</header>
<!-- Header End -->








<script type="text/javascript">
    function setAllNotiBeHaveRead() {
        @foreach(Notification noti in _context.Notifications.Where(noti => !noti.HaveRead && noti.UserId == Context.Session.GetInt32("IdCurrentUser")).ToList())
        {
            noti.HaveRead = true;
            _context.Update(noti);
            _context.SaveChanges();
        }
        document.getElementById("CountNotification").innerHTML = "";
        return false;
    }
</script>


