@model IEnumerable<OnlineBanking.Models.Transaction>

@{
    ViewData["Title"] = "Transaction";
    var _context = ViewBag.Context as OnlineBankingContext;
    int count = 0;
}

<!-- Content
  ============================================= -->
<div id="content" class="py-4">
    <div class="container">
        <div class="row">

            <partial name="_AsideLeft" />

            <!-- Middle Panel
            ============================================= -->
            <div class="col-lg-9">

                <h2 class="font-weight-400 mb-3">Transactions</h2>

                <!-- Filter
                ============================================= -->
                <div class="row">
                    <div class="col mb-2">
                        <form id="filterTransactions" asp-controller="Transactions" asp-action="Index" method="post">
                            <div class="form-row">
                                <!-- Date Range
                                ========================= -->
                                <div class="col-sm-6 col-md-5 form-group">
                                    <label>Begin</label>   <input class="form-control" type="date" name="BeginDay" value="@DateTime.MinValue" />
                                    <label>End</label>     <input class="form-control" type="date" name="EndDay" value="@DateTime.Now" /><br />

                                </div>
                                <!-- All Filters Link
                                ========================= -->
                                <div class="col-auto d-flex align-items-center mr-auto form-group" data-toggle="collapse"> <a class="btn-link" data-toggle="collapse" href="#allFilters" aria-expanded="false" aria-controls="allFilters">Choose Filters<i class="fas fa-sliders-h text-3 ml-1"></i></a> </div>
                                <!-- Statements Link
                                ========================= -->
                                <div class="col-auto d-flex align-items-center ml-auto form-group">
                                    <div class="dropdown">
                                        <a class="text-muted btn-link" href="#" role="button" id="statements" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-file-download text-3 mr-1"></i>Statements</a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="statements"> <a class="dropdown-item" href="#">CSV</a> <a class="dropdown-item" href="#">PDF</a> </div>
                                    </div>
                                </div>

                                <!-- All Filters collapse
                                ================================ -->
                                <div class="col-12 collapse mb-3" id="allFilters">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="allTransactions" name="Filter" class="custom-control-input" checked value="All">
                                        <label class="custom-control-label" for="allTransactions">All Transactions</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="paymentsSend" name="Filter" class="custom-control-input" value="OnlySender">
                                        <label class="custom-control-label" for="paymentsSend">Payments Send</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="paymentsReceived" name="Filter" class="custom-control-input" value="OnlyRecipient">
                                        <label class="custom-control-label" for="paymentsReceived">Payments Received</label>
                                    </div>
                                    <br />
                                    <div class="custom-control custom-control-inline">
                                        <label for="paymentsReceived">Number of Last Transaction: </label>
                                        <input type="number" min="0" name="NumberOf" value="0" />
                                    </div>
                                </div>
                                <!-- All Filters collapse End -->
                            </div>
                            <button type="submit" class="btn-group-toggle">Statistics</button>
                        </form>
                    </div>
                </div>
                <!-- Filter End -->
                <!-- All Transactions
                ============================================= -->
                @if (ViewBag.AllTransactionByUser != null)
                {
                    <div class="bg-light shadow-sm rounded py-4 mb-4">
                        <h3 class="text-5 font-weight-400 d-flex align-items-center px-4 mb-3">All Transactions</h3>
                        <!-- Title
                        =============================== -->
                        <div class="transaction-title py-2 px-4">
                            <div class="row">
                                <div class="col-2 col-sm-1 text-center"><span class="">Date</span></div>
                                <div class="col col-sm-7">Description</div>
                                <div class="col-auto col-sm-2 d-none d-sm-block text-center">Amount</div>
                                <div class="col-3 col-sm-2 text-right">New Balance</div>
                            </div>
                        </div>
                        <!-- Title End -->
                        <!-- Transaction List
                        =============================== -->
                        <div class="transaction-list">
                            <!--Vòng lặp ở đây-->
                            @foreach (Transaction transaction in ViewBag.AllTransactionByUser)
                            {
                                //Dùng 1 biến đếm để thêm vào id cho transaction
                                count++;
                                <div class="transaction-item px-4 py-3" data-toggle="modal" data-target="#transaction-detail-@count">
                                    <div class="row align-items-center flex-row">
                                        <div class="col-2 col-sm-1 text-center"> <span class="d-block text-4 font-weight-100"><!--Chỗ này để ngày-->@transaction.IssuedDate.ToString("MMMM dd")</span>  </div>
                                        <!--Chỗ này xác định xem đấy là người nhận hay gửi-->
                                        @{if (transaction.FromAccount.UserId == Context.Session.GetInt32("IdCurrentUser"))
                                            {
                                                <div class="col col-sm-7"> <span class="d-block text-4">Send money</div>
                                                <div class="col-3 col-sm-2 text-right text-4"> <span class="text-nowrap">- @transaction.Amount</span> <span class="text-2 text-uppercase"><!--Đon vị ở đây-->@transaction.Currency.Name</span> </div>
                                                <div class="col-3 col-sm-2 text-right text-4"> <span class="text-nowrap">$@transaction.NewBalanceSender$</div>
                                            }
                                            else if (transaction.ToAccount.UserId == Context.Session.GetInt32("IdCurrentUser"))
                                            {
                                                <div class="col col-sm-7"> <span class="d-block text-4">Recieve Money</div>
                                                <div class="col-3 col-sm-2 text-right text-4"> <span class="text-nowrap">+ @transaction.Amount</span> <span class="text-2 text-uppercase"><!--Đon vị ở đây-->@transaction.Currency.Name</span> </div>
                                                <div class="col-3 col-sm-2 text-right text-4"> <span class="text-nowrap">$@transaction.NewBalanceRecipient$</div>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                            @{
                                count = 0;
                            }
                            <!--Kết thúc vòng lặp-->
                        </div>
                        <!-- Transaction List End -->
                        <!-- Transaction Item Details Modal
                        =========================================== -->
                        <!--Vòng lặp ở đây-->
                        @foreach (Transaction transaction in ViewBag.AllTransactionByUser)
                        {
                            count++;
                            <div id="transaction-detail-@count" class="modal fade" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered transaction-details" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="row no-gutters">
                                                <!-- Cái màu xanh bên trái-->
                                                <div class="col-sm-5 d-flex justify-content-center bg-primary rounded-left py-4">
                                                    @if (transaction.FromAccount.UserId == Context.Session.GetInt32("IdCurrentUser"))
                                                    {
                                                        <div class="my-auto text-center">
                                                            <div class="text-17 text-white my-3"><i class="fas fa-building"></i></div>
                                                            <h3 class="text-4 text-white font-weight-400 my-3">You have Sent Money</h3>
                                                            <div class="text-8 font-weight-500 text-white my-4">- @transaction.Amount @transaction.Currency.Name</div>
                                                            <p class="text-white"><!--Ngày tháng ở đây-->@transaction.IssuedDate.ToString("dddd, dd MMMM yyyy")</p>
                                                        </div>
                                                    }
                                                    else if (transaction.ToAccount.UserId == Context.Session.GetInt32("IdCurrentUser"))
                                                    {
                                                        <div class="my-auto text-center">
                                                            <div class="text-17 text-white my-3"><i class="fas fa-building"></i></div>
                                                            <h3 class="text-4 text-white font-weight-400 my-3">You have Recieved Money</h3>
                                                            <div class="text-8 font-weight-500 text-white my-4">@transaction.Amount @transaction.Currency.Name</div>
                                                            <p class="text-white"><!--Ngày tháng ở đây-->@transaction.IssuedDate.ToString("dddd, dd MMMM yyyy")</p>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col-sm-7">
                                                    <h5 class="text-5 font-weight-400 m-3">
                                                        Transaction Details
                                                        <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                                    </h5>
                                                    <hr>
                                                    @if (transaction.FromAccount.UserId == Context.Session.GetInt32("IdCurrentUser"))
                                                    {
                                                        <div class="px-3">
                                                            <p class="d-flex align-items-center font-weight-500 mb-4">Total Amount <span class="text-3 ml-auto">- @transaction.Amount @transaction.Currency.Name</span></p>
                                                            <p class="d-flex align-items-center font-weight-500 mb-4">New Balance <span class="text-3 ml-auto">@transaction.NewBalanceSender$</span></p>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">You Have Send To:</li>
                                                                <li class="text-muted">@transaction.ToAccount.User.FullName</li>
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">From Account</li>
                                                                <li class="text-muted">@transaction.ToAccount.Number</li>
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Description:</li>
                                                                <li class="text-muted">@transaction.Description</li>
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Status:</li>
                                                                <li class="text-muted">Completed</li>
                                                            </ul>
                                                        </div>
                                                    }
                                                    else if (transaction.ToAccount.UserId == Context.Session.GetInt32("IdCurrentUser"))
                                                    {
                                                        <div class="px-3">
                                                            <p class="d-flex align-items-center font-weight-500 mb-4">Total Amount <span class="text-3 ml-auto">+ @transaction.Amount @transaction.Currency.Name</span></p>
                                                            <p class="d-flex align-items-center font-weight-500 mb-4">New Balance <span class="text-3 ml-auto">@transaction.NewBalanceRecipient$</span></p>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">You Have Recieved From Account:</li>
                                                                <li class="text-muted">@transaction.FromAccount.Number</li>
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Recipient's Account</li>
                                                                <li class="text-muted">@transaction.ToAccount.Number</li>
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Description:</li>
                                                                <li class="text-muted">@transaction.Description</li>
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Status:</li>
                                                                <li class="text-muted">Completed</li>
                                                            </ul>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!--Kết thúc vòng lặp-->
                        <!-- Transaction Item Details Modal End -->
                        <!-- Pagination
                        ============================================= -->
                        <ul class="pagination justify-content-center mt-4 mb-0">
                            <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a> </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2 <span class="sr-only">(current)</span></a> </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item d-flex align-content-center flex-wrap text-muted text-5 mx-1">......</li>
                            <li class="page-item"><a class="page-link" href="#">15</a></li>
                            <li class="page-item"> <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a> </li>
                        </ul>
                        <!-- Paginations end -->

                    </div>
                }
                <!-- All Transactions End -->
            </div>
            <!-- Middle End -->
        </div>
    </div>
</div>
<!-- Content end -->
